<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyUrl</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TinyUrl.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar bg-base-100 border-b border-base-300 shadow-sm mb-3">
            <div class="flex-1">
                <a asp-area="" asp-page="/Index" class="btn btn-ghost text-xl font-bold">TinyUrl</a>
            </div>
        </nav>
    </header>
    <div class="max-w-screen-lg mx-auto px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
